<html>
  <head>
    {% load static %}
    <title>Pizza App By Alon Gabai</title>
    <link rel="stylesheet" href="{% static 'orders/style.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'orders/index.js?wh' %}"/></script>
    <script src="https://kit.fontawesome.com/c7958625a3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script id="toppings" type="text/x-handlebars-template">
      <div class="toppingsmenu">
        <div class="row" style="vertical-align:middle;">
          <div class='col-2'></div>
          <div class='col-5' style='text-align:center;line-height: 2;font-size:20px;'>
            {% for topping in toppings %}
              <a onclick="selectTopping(this)" style="white-space: nowrap;">
                {{ topping.name }}
              </a>&emsp;&emsp;
            {% endfor %}
          </div>
          <img class='col-3' src="{% static 'orders/media/1.png' %}">
        </div>
        <a style="float:left;margin-left: 10%;font-size:25px;" onclick="backTopping()">Back</a>
        <a style="float:right;margin-right: 10%;font-size:25px;" onclick="backTopping()">Next</a>
      </div>
    </script>
    <script id="size" type="text/x-handlebars-template">
      <div class="row">
        <img class="col-35">
        <img src="{% static 'orders/media/1.png' %}" class="col-2" onclick="selectSize('small')">
        <img src="{% static 'orders/media/1.png' %}" class="col-3" onclick="selectSize('large')">
      </div>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="position:relative;">
      <div class="cart" style="background-color:white; width:30%; height:100%;position:fixed;top:0;right:0;display:None;">
        <i class="fas fa-bars fa-lg" style="top:6%;left:10%;float:right;color:black;position:absolute;" onclick="openMenu()"></i>
        <span style="left:42%;top:10%;position:absolute;font-size:30px;color:black;">Order:</span>
      </div>
      <i class="fas fa-bars fa-lg" style="right:7%;top:6%;position:fixed;float:right;" onclick="openMenu()"></i>
      <div style="margin-top:8%; padding:30px; text-align:center;font-size: 75px;">
        <a class="selectSomething">Select Size</a>
      </div>
      <div class="row">
        <img class="col-35">
        <img src="{% static 'orders/media/1.png' %}" class="col-2" onclick="selectSize('small')">
        <img src="{% static 'orders/media/1.png' %}" class="col-3" onclick="selectSize('large')">
      </div>
  </body>
</html>
