<html>
  <head>
    {% load static %}
    <title>Pizza App By Alon Gabai</title>
    <link rel="stylesheet" href="{% static 'orders/style.css?kj' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'orders/index.js?reaaab' %}"/></script>
    <script src="https://kit.fontawesome.com/c7958625a3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script id="toppings" type="text/x-handlebars-template">
      <div class="toppingsmenu">
        <div class="row">
          <div class='col-2'></div>
          <div class='col-5 toppinglist'>
            {% for topping in toppings %}
              <a onclick="selectTopping(this)" style="white-space: nowrap;">
                {{ topping.name }}
              </a>&emsp;&emsp;
            {% endfor %}
          </div>
          <img class='col-3' src="{% static 'orders/media/1.png' %}">
        </div>
        <a id="backbutton" onclick="backTopping()">Back</a>
        <a id="nextbutton" onclick="addToCart()">Next</a>
      </div>
    </script>
    <script id="size" type="text/x-handlebars-template">
      <div class="row selectPizza">
        <img class="col-35">
        <img src="{% static 'orders/media/1.png' %}" class="col-2" onclick="selectSize('small')">
        <img src="{% static 'orders/media/1.png' %}" class="col-3" onclick="selectSize('large')">
      </div>
    </script>
    <script id="pizzaOrder" type="text/x-handlebars-template">
      <div class="cartOrder row" style="position:relative;">
        <img src="{% static 'orders/media/1.png' %}" class="col-3">
        {% verbatim %}
        <a style="color:black;" class="col-7">{{ size }} Pizza<br>
        {{#each toppingsSub}}
          <span style="font-size:12px;color:black;">{{ this }} </span>
        {{/each}}
        </a>
        {% endverbatim %}
        <i class="fas fa-times col-1" style="color:red;" onclick="deleteItem(this)"></i>
        <img class="col-1">
      </div>
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="position:relative;">
      <div class="cart" style="background-color:white; width:30%; height:100%;position:fixed;top:0;right:0;display:None;">
        <i class="fas fa-bars fa-lg" style="top:6%;left:10%;float:right;color:black;position:absolute;" onclick="openMenu()"></i>
        <span style="left:40%;top:10%;position:absolute;font-size:30px;color:black;">Order:</span>
        <div style="width:100%; height:70%; overflow:auto;top:15%;position:absolute;" class="cartsquare"></div>
        <div style="padding:2%;left:30%;border-style:solid; position:absolute; top:90%; border-color:black;color:black;text-align:center;font-size:30px;" onclick="checkOut()" id="finishOrderButton">Finish Order</div>
      </div>
      <i class="fas fa-bars fa-lg" style="right:7%;top:6%;position:fixed;float:right;" onclick="openMenu()"></i>
      <div style="margin-top:8%; padding:30px; text-align:center;font-size: 75px;">
        <a class="selectSomething">Select Size</a>
      </div>
      <div class="row selectPizza">
        <img class="col-35">
        <img src="{% static 'orders/media/1.png' %}" class="col-2" onclick="selectSize('small')">
        <img src="{% static 'orders/media/1.png' %}" class="col-3" onclick="selectSize('large')">
      </div>
  </body>
</html>
